<nav class="bg-blue-500 p-4">
  <div class="container flex mx-auto justify-between items-center">
    <div class="grid grid-cols-3">
      <img class="w-12 h-auto col-span-1 " src="../../../assets/img/todo.png" alt="logo">
      <div class="flex items-center mx-1 font-sans justify-start col-span-2">
        <h1 class="font-bold text-2xl text-white">TodoList</h1>
      </div>
    </div>
    <ul class="flex space-x-4">
      <li><a routerLink="/home" class="text-white hover:text-gray-300">Home</a></li>
      <li><a routerLink="/workspace" class="text-white hover:text-gray-300">Workspace</a></li>
      <li><a routerLink="/about" class="text-white hover:text-gray-300">About</a></li>
    </ul>
  </div>
</nav>
